*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/Lato/Lato-Regular.woff2) format('woff2'), url(../assets/fonts/Lato/Lato-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
    justify-content: center;
    gap: clamp(1.5rem, (0.5vw + 1rem), 3rem);
}

button {
    all: unset;
    cursor: pointer;
}

.limit-section {
    max-width: 768px;
    width: 100%;
    padding-inline: clamp(1rem, 2vw, 2rem);
}

/* ===== Layout: Header ===== */

#header img {
    width: 100%;
}

/*Header em coluna para melhor adaptação em telas menores e organização*/
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-block: clamp(1.5rem, (0.5vw + 1.5rem), 2.5rem);
    padding-inline: clamp(0.5rem, (0.5vw + 0.5rem), 1.5rem);
    gap: clamp(0.5rem, (0.5vw + 0.5rem), 1.5rem);
    text-align: center;
    flex-wrap: wrap;
    grid-area: header;
}

/*Navegação em coluna para também melhor adaptação em telas menores*/
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(1rem, (0.5vw + 1.5rem), 2.5rem);
    font-size: clamp(1.5rem, (0.5vw + 1rem), 1.8rem);
}

.nav-list {
    gap: clamp(1rem, (0.5vw + 1.5rem), 2.5rem);
    list-style: none;
    display: flex;
    margin-inline: auto;
} 

.nav-list a:link, .nav-list a:visited  {
    color: #000;
    text-decoration: none;  
}

/*Pequeno efeito de crescimento e mudança de cor quando o mouse passar em cima dos links*/
.nav-list a:hover {
    display: block;
    color: #105cfc;
    transform: scale(1.1);
    will-change: transform;
}

/*Botões escondidos em telas pequenas*/
.button-container {
    display: none;
}

.btn-login, .btn-subscribe {
    font-size: clamp(1.2rem, (0.5vw + 1rem), 1.3rem);
    padding-inline: clamp(1em, (0.5vw + 1em), 2em);
    padding-block: clamp(0.5em, 0.7em, 1em);
    font-weight: bolder;
    border-radius: 15px;
    margin-inline: 10px;
}

.btn-login, .btn-explorer {
    color: #105cfc;
    border: 1px solid #105cfc;
}

.btn-subscribe, .btn-meet {
    background-color: #105cfc;
    color: #fff;
}


.btn-login:hover, .btn-explorer:hover {
    background-color: #105bfc27;
}

.btn-subscribe:hover, .btn-meet:hover {
    background-color: #104bca;
}

/* ===== Layout: Main ===== */

main {
    grid-area: main;
}

.content-section {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 20% 1fr;
    grid-template-areas: 'text' 'img' 'text2' 'cards';
    gap: clamp(1.5rem, (0.5vw + 1rem), 3rem);
}

.text-container {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-container2 {
    grid-area: text2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-container p, .text-container2 p {
    font-size: clamp(1.4rem, (0.5vw + 1.2rem), 1.8rem);
}

h1 {
    font-size: clamp(3rem, (2vw + 1.5rem), 4.5rem);
}

.blue {
   color: #104bca; 
}

.btn-meet, .btn-explorer {
    font-size: clamp(1.2rem, (0.5vw + 1rem), 1.3rem);
    margin-block: clamp(1.5rem, (0.5vw + 1rem), 1.8rem);
    padding-inline: clamp(1em, (0.5vw + 1em), 2em);
    padding-block: clamp(0.5em, 0.7em, 1em);
    font-weight: bolder;
    border-radius: 15px;
}

.img-container {
    grid-area: img;
}

.img-container img {
    width: 100%;
    border: #000 1px solid;
}

.cards-container img {
    width: 30px;
    height: 30px;
}

.cards-container {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: clamp(1.5rem, (0.5vw + 1rem), 3rem);
}

.cards-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #104bca3d;
    border-radius: 15px;
    padding-inline: clamp(3rem, (0.5vw + 4rem), 6rem);
    padding-block: clamp(4rem, (0.5vw + 5rem), 6rem);
}

.text-container2 {
    grid-area: text2;
}

h2 {
    font-size: clamp(2.5rem, (2vw + 1.5rem), 4rem);
}

/* ===== Layout: Footer ===== */

footer {
    grid-area: footer;
    padding: 50px;
}

/* ===== Layout: Medias queries ===== */

@media screen and (min-width: 768px) {

    /*Em telas médias o limite de largura aumenta até a largura que começa a outra media query*/
    .limit-section {
        max-width: 1028px;
        width: 100%;
    }

    /*Exibe os botões apenas em telas maiores*/
    .button-container {
        display: block;
    }

    /*Mudança da barra de navegação para ficar em linha*/
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
    }

}

@media screen and (min-width: 1028px) {

    /*Novo limite de largura definido*/
    .limit-section {
        max-width: 1400px;
        width: 100%;
    }

    /*Flex grow para os links crescerem e ocuparem o espaço necessário entre eles e os botões*/
    /*Poderia ser utilizado justify-content também*/
    .nav-list {
        flex-grow: 1;
    }
    
    /*Mudança do flex-direction para que todos os containers fiquem lado a lado também*/
    #header {
        display: flex;
        flex-direction: row;
    }

}