*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/Lato/Lato-Regular.woff2) format('woff2'), url(../assets/fonts/Lato/Lato-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}

button {
    all: unset;
    cursor: pointer;
}